.listContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  width: 20px;
  align-self: center;
  margin-right: 15px;
}
.time {
  color: #64748b;
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-right: 50px;
}
.title {
  color: #475569;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-right: 20px;
}
.link {
  color: #64748b;
  font-size: 15px;
  font-family: 'Roboto';
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140vh;
  margin-bottom: 10px;
}
.button {
  background-color: white;
  border: 0px solid white;
}
